<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link type="text/css" th:href="@{/css/admin-style.css}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/css.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/admin.js}"></script>
    <title>지잉, 엄마! 나 이 닦는 중</title>
</head>
<body>
<header>
    <a href="/admin/templates/main">
        <div style="font-size: 30px">지잉, 엄마! 나 이 닦는 중</div>
    </a>
    <nav>
        <ul>
            <a href="/">부모님</a>
            <a href="#" onclick="sendTokenDelete();">Logout</a>
        </ul>
    </nav>
</header>
<nav class="menus">
    <ul>
        <a href="/api/user/1">사용자</a>
        <a href="/event/">이벤트 목록</a>
        <a href="/api/coupon">쿠폰 목록</a>
        <a href="/api/received-coupon">쿠폰함</a>
    </ul>
</nav>

<div class="body">

    <!--    <div class="board_wrap">-->
    <!--        <div class="board_title">-->
    <!--            <strong>유저 목록</strong>-->
    <!--            <p>유저 목록을 보여드리겠습니다.</p>-->
    <!--        </div>-->

    <!--        <div class="board_list_wrap">-->
    <!--            <div class="board_list">-->
    <!--                <div class="top">-->
    <!--                    <div class="num">번호</div>-->
    <!--                    <div class="writer">아이디</div>-->
    <!--                    <div class="writer">이름</div>-->
    <!--                    <div class="writer">닉네임</div>-->
    <!--                    <div class="writer">전화번호</div>-->
    <!--                    <div class="writer">이메일</div>-->
    <!--                    <div class="writer">권한</div>-->
    <!--                    <div class="writer">금지상태</div>-->
    <!--                    <div class="writer">삭제상태</div>-->
    <!--                    <div class="writer">상세보기</div>-->
    <!--                </div>-->

    <!--                <div th:each="customer, iStat : ${customers}">-->
    <!--                    <div class="num" th:text="${customer.id}">1</div>-->
    <!--                    <div class="writer" th:text="${customer.username}"></div>-->
    <!--                    <div div class="writer" th:text="${customer.name}"></div>-->
    <!--                    <div div class="writer" th:text="${customer.nickname}"></div>-->
    <!--                    <div div class="writer" th:text="${customer.phoneNumber}"></div>-->
    <!--                    <div div class="writer" th:text="${customer.email}"></div>-->
    <!--                    <div div class="writer" th:text="${customer.role}"></div>-->
    <!--                    <div div class="writer" th:text="${customer.banned}"></div>-->
    <!--                    <div div class="writer" th:text="${customer.deleted}"></div>-->
    <!--                    <div class="count" th:if="${customer.role == customer.role.USER}"><a href=""-->
    <!--                                                                                         th:href="@{/admin/templates/customers/{customerId}(customerId=${customer.id})}"-->
    <!--                                                                                         class="btn btn-secondary">내용</a>-->
    <!--                    </div>-->
    <!--                    <div class="count" th:if="${customer.role == customer.role.SELLER}"><a href=""-->
    <!--                                                                                           th:href="@{/admin/templates/sellers/{sellersId}(sellersId=${customer.id})}"-->
    <!--                                                                                           class="btn btn-secondary">내용</a>-->
    <!--                    </div>-->
    <!--                </div>-->


    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->

    <h1 style="color: #8B60C7">이벤트 목록</h1>
    <div class="customerList">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">번호</th>
                <th scope="col">이벤트이름</th>
            </tr>
            </thead>
            <tbody id="customerListTable">
            <div th:each="event, iStat : ${events}">
                <tr>
                    <th scope="row" th:text="${event.eventId}">1</th>
                    <td th:text="${event.eventName}"></td>
                </tr>
            </div>

            </tbody>
            <div class="container" style="margin-top: 55px; margin-left: 0px; font-size: large;">
                <h1>이벤트 생성</h1>
                <form th:object="${UpdateEventDTO}"
                      class="form-horizontal"
                      th:action="@{'/event/user/1'}"
                      th:method="post">
                    <div class="form-group form-group-lg" style="margin-top: 10px;">
                        <label class="col-sm-2 control-label" for="lg"></label>
                        <div class="col-sm-2">
                            <input style="height: 40px;font-size: 18px;"
                                   class="form-control"
                                   type="text"
                                   id="lg1"
                                   placeholder="name"
                                   aria-label="name"
                                   th:field="*{eventName}"
                            />
                        </div>
                    </div>
                    <input type="submit" class="btn"
                           value="생성버튼">
                </form>
                <h1>이벤트 수정</h1>
                <form th:action="@{/event/1}" th:object="${UpdateEventDTO}" method="post">
                    <input type="hidden" name="_method" value="put"/>
                    <div class="form-group form-group-lg" style="margin-top: 10px;">
                        <label class="col-sm-2 control-label" for="lg"></label>
                        <div class="col-sm-2">
                            <input style="height: 40px;font-size: 18px;"
                                   class="form-control"
                                   type="text"
                                   id="lg"
                                   placeholder="name"
                                   aria-label="name"
                                   th:field="*{eventName}"
                            />
                        </div>
                    </div>
                    <input type="submit" class="btn"
                           value="수정버튼">
                </form>
            </div>
        </table>

    </div>
</div>
</body>
</html>