* {
    font-family: 'Jua', sans-serif;
}

.login {
    margin: 200px auto 10px auto;
    padding: 10px 10px 10px 10px;
}

header {
    height: 70px;
    width: 100%;

    background-color: #8B60C7;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin: 0 auto 0px auto;
    padding: 10px 10px 0 10px;
}

header > h1 {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 0 auto 0px auto;
    padding: 10px 10px 0 10px;

    color: #8B60C7;
    font-weight: 3000;
    font-size: 50px;

    cursor: pointer;
}

header > a {
    text-decoration: none;
    cursor: pointer;
}

header > nav > ul > a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    color: #ffffff;

    padding: 10px 10px 10px 10px;
}

header > a > div {
    font-size: 40px;
    font-weight: bolder;
    color: #ffffff;

    width: 300px;

    margin-left: 10px;
    margin-bottom: 5px;
}

.login-wrap {
    max-width: 500px;
    min-width: 400px;
    width: 25%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 1px solid dimgray;
    border-radius: 10px;

    margin: 10px auto 10px auto;
    padding: 10px 10px 10px 10px;
}

.id-input, .password-input {
    max-width: 450px;
    width: 90%;

    margin: 10px auto 10px auto;
    padding: 10px 10px 10px 10px;
}

.login-btn {
    background-color: #8B60C7;
    font-size: 20px;
    color: white;

    max-width: 450px;
    width: 90%;

    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;

    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*justify-content: center;*/

    cursor: pointer;
}

.menus > ul {
    height: 40px;
    width: 100%;

    background-color: #B896E7;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin: 0 auto 0 auto;
    padding: 10px 10px 10px 10px;
}

.menus > ul > a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    color: #ffffff;

    margin: 0 auto 0 auto;
}

.body {
    max-width: 1000px;
    width: 80%;

    margin: 50px auto 20px auto;
}

.blacklist-request-btn > button {
    color: white;
    background-color: #8B60C7;
}

.btn {
    color: white;
    background-color: #8B60C7;

    padding: 0 5px 0 5px;
    margin: 0 5px 0 5px;
}

.createEvent {
    max-width: 1000px;
    width: 100%;

    margin: 10px auto 10px auto;
    padding: 5px 5px 5px 5px;

    border: 1px solid dimgray;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.createEvent > div {
    margin: 5px auto 5px auto;
}

.long-btn {
    color: white;
    background-color: #8B60C7;

    padding: 5px 50px 5px 50px;
    margin: 5px 5px 5px 5px;
}

.eventBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.updateEvent {
    max-width: 1000px;
    width: 100%;

    margin: 10px auto 10px auto;
    padding: 5px 5px 5px 5px;

    border: 1px solid dimgray;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.updateEvent > div {
    margin: 5px auto 5px auto;
}

.coupon {
    max-width: 1000px;
    width: 100%;

    margin: 10px auto 10px auto;
    padding: 5px 5px 5px 5px;

    border: 1px solid dimgray;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.long-btn-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.updateCoupon {
    max-width: 1000px;
    width: 100%;

    margin: 10px auto 10px auto;
    padding: 5px 5px 5px 5px;

    border: 1px solid dimgray;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn2 {
    color: white;
    background-color: #B896E7;

    padding: 0 5px 0 5px;
    margin: 0 5px 0 5px;
}

.sellerManagementBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.restaurantBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}